{% load static %}


<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{% static 'hosty/css/podz.css' %}">
	<title>Поддержка</title>
</head>
<body>
	<div id ="celtic">
		<p>Вся поддержка производиться через нашего телеграм бота. Кликните на иконку и напишите все волнующие вопрсы. В течение часа вам придет ответ. </p><br>
		<p>По чаще улыбайтесь ;)</p>
	</div>
	
	<div id="sslka">
		<img src="https://otvet.imgsmail.ru/download/244241063_3f73742aabf324c96e94dbaba70dafcc_800.png" class="photo">
	</div>
		<a href="https://t.me/py_forum_bot" class="text-a">@py_forum_bot</a>
	<div>
		<a href="{% url 'start' %}" class="back-but">На главную</a>
	</div>
</body>
</html> 